---
import { getCollection } from "astro:content"
import Pagination from "@/components/Pagination.astro"
import Posts from "@/components/PostGrid.astro"
import Layout from "@/layouts/Layout.astro"

export const prerender = true
export async function getStaticPaths({ paginate }: any) {
	const allPosts = await getCollection("noticias")
	const formattedPosts = allPosts.sort((a, b) => new Date(b.data.date.valueOf()).getTime() - new Date(a.data.date.valueOf()).getTime())
	return paginate(formattedPosts, {
		pageSize: 12,
	})
}
const { page }: any = Astro.props
---

<Layout title="Últimas noticias - Alineación indebida" description="Últimas noticias en la Web Oficial del programa Alineación Indebida.">
	<section class="px-4">
		<h1 class="mb-8 text-2xl font-bold md:text-3xl">Noticias</h1>
		<Posts posts={page.data} />
		<Pagination
			lengthPages="2"
			length={page.lastPage}
			currentUrl={page.url.current}
			currentPage={page.currentPage}
			firstUrl="/noticias/"
			prevUrl={page.url.prev}
			nextUrl={page.url.next}
			lastUrl={`/noticias/${page.lastPage}`}
		/>
	</section>
</Layout>
