---
import BannerSpotify from "@/components/BannerSpotify.astro"
import LiteYouTube from "@/components/LiteYouTube.astro"
import { videosMap } from "@/data/videos"
import Layout from "@/layouts/Layout.astro"

export const prerender = false

const slug = Astro.params.slug
let video: any

if (slug && videosMap.has(slug))
	video = videosMap.get(slug)
else
	return Astro.redirect("/404")
---

<Layout
	title=`${video.title} - Alineación indebida`
	description="Web Oficial del programa Alineación Indebida. El programa de Unionistas de Salamanca y todo el deporte salmantino"
>
	<section class="mt-2">
		{
			video.spotify
			? (
				<a href={`https://open.spotify.com/episode/${video.spotify}`} target="_blank">
					<article class="mt-1 mb-4 p-4 flex w-full flex-col items-center border-solid rounded-xl border-4 border-spotify hover:text-spotify text-white">
						<h2 class="text-xl font-semibold leading-9 text-center">
							¡Tambien disponible en Spotify!
						</h2>
					</article>
				</a>
			)
			: <BannerSpotify />
		}
		<LiteYouTube videoId={video.slug} backgroundImage={`https://i.ytimg.com/vi/${video.slug}/hqdefault.jpg`} />
		<h2 class="mt-6 text-xl font-semibold leading-6 text-white">
			{video.title}
		</h2>

	</section>
</Layout>
