---
import { plantillasMap } from "@/data/plantillas"
import Layout from "@/layouts/Layout.astro"

export const prerender = false

interface jugadorType {
	nombre: string
	numero: string
	posicion: string
	nacim: string
	altura: string
	fichaje: string
	procedencia: string
	contrato: string
}

const slug = Astro.params.slug
let dataClub: any

if (slug && plantillasMap.has(slug))
	dataClub = plantillasMap.get(slug)
else
	return Astro.redirect("/404")
---

<Layout
	title=`${dataClub.nombre} - Alineación indebida`
	description="Web Oficial del programa Alineación Indebida. El programa de Unionistas de Salamanca y todo el deporte salmantino"
>
	<section class="mt-6">
		<h2 class="mt-6 text-2xl font-semibold leading-6 text-white">
			{dataClub.nombre}
		</h2>
		<div class="mt-6 overflow-x-auto">
			<table class="w-full table-auto whitespace-nowrap rounded-lg bg-gray-700">
				<thead class="bg-gray-600">
					<tr>
						<th class="px-2 py-2 rounded-tl-lg">#</th>
						<th class="px-2 py-2">Pos</th>
						<th class="px-4 py-2">Nombre</th>
						<th class="px-4 py-2">Nacimiento</th>
						<th class="px-4 py-2">Altura</th>
						<th class="px-4 py-2">Fichaje</th>
						<th class="px-4 py-2">Procedencia</th>
						<th class="px-4 py-2 rounded-tr-lg">Contrato</th>
					</tr>
				</thead>
				<tbody>
					{
						dataClub?.plantilla?.map((jugador: jugadorType) => (
							<tr class="text-center ">
								<td class="px-2 py-1 bg-[#F6A700]">{jugador.numero}</td>
								<td class="px-2 py-1">{jugador.posicion}</td>
								<td class="px-4 py-1">{jugador.nombre}</td>
								<td class="px-4 py-1">{jugador.nacim}</td>
								<td class="px-4 py-1">{jugador.altura}</td>
								<td class="px-4 py-1">{jugador.fichaje}</td>
								<td class="px-4 py-1">{jugador.procedencia}</td>
								<td class="px-4 py-1">{jugador.contrato}</td>
							</tr>
						))
					}
				</tbody>
			</table>
		</div>
	</section>
</Layout>
