---
import { Image } from "astro:assets"
import { slugify } from "@/utils/slug"

type PostType = {
	id: string
	slug: string
	body: string
	collection: string
	data: {
		date: Date
		title: string
		description: string
		imagen: string
		categorias: string[]
		tags: string[]
		autor: string
	}
}

const { posts } = Astro.props
---

<div class="mx-auto grid grid-cols-1 gap-x-8 gap-y-1 md:grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2">
	{
		posts?.slice(0, 9).map((post: PostType) => (
			<article class="mt-10 flex w-full flex-row-reverse gap-x-3">
				<div class="w-3/5 overflow-hidden rounded-lg">
					{post.data.imagen && (
						<a href={`/noticias/${post.slug}/`}>
							<figure class="h-auto w-auto object-cover">
								<Image
									transition:name={`img-${post.slug}`}
									class="transition duration-300 ease-in-out hover:scale-110 rounded-lg"
									src={post.data.imagen}
									alt={post.data.title}
									width={300}
									height={300}
									decoding="async"
									loading="lazy"
								/>
							</figure>
						</a>
					)}
				</div>
				<div class="w-full">
					<div class="flex w-full">
						{post.data.categorias.slice(0, 1).map(item => (
							<a
								href={`/categorias/${slugify(item)}`}
								class="text-xs font-medium capitalize hover:text-white text-accent"
							>
								{item}
							</a>
						))}
					</div>
					<div class="relative">
						<h2 class="text-xl mt-2 font-semibold leading-6 hover:text-accent text-white">
							<a href={`/noticias/${post.slug}/`}>
								{post.data.title}
							</a>
						</h2>
					</div>
				</div>
			</article>
		))
	}
</div>
