---
import FormattedDate from "@/components/FormattedDate.astro"
import { slugify } from "@/utils/slug"
import { Image } from "astro:assets"

type PostType = {
	id: string
	slug: string
	body: string
	collection: string
	data: {
		date: Date
		title: string
		description: string
		imagen: string
		categorias: string[]
		tags: string[]
		autor: string
	}
}

const { posts } = Astro.props
const formatDate = {
	year: "numeric",
	month: "long",
	day: "numeric",
}
---

<div class="mx-auto grid grid-cols-1 gap-x-8 gap-y-1 md:grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2">
	{
		posts?.slice(0, 9).map((post: PostType) => (
			<article class="mt-10 flex w-full flex-row-reverse gap-x-3">
				<div class="w-3/5 overflow-hidden rounded-lg">
					{post.data.imagen && (
						<a href={`/noticias/${post.slug}/`}>
							<figure class="h-auto w-auto object-cover">
								<Image
									class="transition duration-300 ease-in-out hover:scale-110 rounded-lg"
									src={post.data.imagen}
									alt={post.data.title}
									width={1000}
									height={1000}
									decoding="async"
									loading="lazy"
								/>
							</figure>
						</a>
					)}
				</div>
				<div class="w-full">
					<div class="flex flex-wrap items-center justify-between gap-x-4 text-xs text-white w-full">
						<FormattedDate date={post.data.date} format={formatDate} />
						{post.data.categorias.slice(0, 1).map((item) => (
							<a
								href={`/categorias/${slugify(item)}`}
								class="text-md relative rounded-full px-3 py-1.5 font-medium capitalize hover:bg-zinc-50 hover:text-zinc-900 bg-zinc-900 text-zinc-400"
							>
								{item}
							</a>
						))}
					</div>
					<div class="relative">
						<h2 class="mt-1 text-xl font-semibold leading-6 hover:text-accent text-white">
							<a href={`/noticias/${post.slug}/`}>
								{post.data.title}
							</a>
						</h2>
					</div>
				</div>
			</article>
		))
	}
</div>
