---
import FormattedDate from "@/components/FormattedDate.astro"
import Layout from "@/layouts/Layout.astro"
import { slugify } from "@/utils/slug"
import { Image } from "astro:assets"
import ButtonsShare from "./ButtonsShare.astro"

const { title, description, date, imagen, categorias, tags, autor, slug } = Astro.props
const url = "https%3A%2F%2Falineacionindebida.com%2Fnoticias%2F"
const formatDate = {
	year: "numeric",
	month: "long",
	day: "numeric",
}
---

<Layout title={title} description={description} image={imagen}>
	<article>
		<div class="block overflow-hidden rounded-lg">
			{
				imagen && (
					<figure class="h-auto w-auto object-cover md:h-[480px]">
						<Image class="transition duration-300 ease-in-out" src={imagen} alt={title} width={960} height={480} decoding="async" loading="lazy" />
					</figure>
				)
			}
		</div>
		<div class="md:col-10 mb-4 mt-4">
			<h1 class="text-2xl font-bold md:text-4xl">{title}</h1>
			<div class="text-text mt-4 flex flex-wrap items-center justify-between text-zinc-200">
				<div class="mt-2 flex flex-wrap items-center font-medium">
					<figure>
						<Image alt="author.name" class="mr-2 h-6 w-6 rounded-full" width={50} height={50} src="/img/Logo.svg" decoding="async" loading="lazy" />
					</figure>
					<span>{autor}</span>
				</div>
				<div class="mt-2 flex flex-wrap items-center font-medium">
					<FormattedDate date={date} format={formatDate} />
				</div>
			</div>
		</div>
		<ButtonsShare title={title} url={`${url}${slug}`} />
		<div class="prose-md prose prose-invert mt-4 min-w-full md:prose-lg">
			<slot />
		</div>
		<div class="text-text mt-4 flex flex-wrap text-zinc-300">
			{
				categorias?.slice(0, 1).map((categoria: any) => (
					<a href={`/categorias/${slugify(categoria)}`} class="mr-2 font-medium capitalize hover:text-accent">
						{categoria}
					</a>
				))
			}
			|
			{
				tags?.map((tag: any) => (
					<a
						href={`/tags/${slugify(tag)}`}
						class="ml-2 inline-block rounded-full bg-zinc-900 px-3 py-1 text-sm font-semibold capitalize text-zinc-400 hover:bg-zinc-50 hover:text-zinc-900"
					>
						#{tag}
					</a>
				))
			}
		</div>
	</article>
</Layout>
