---
import { Image } from "astro:assets"

import FormattedDate from "@/components/FormattedDate.astro"
import { slugify } from "@/utils/slug"

const { post } = Astro.props
const formatDate = {
	year: "numeric",
	month: "long",
	day: "numeric",
}
---

<article class="mt-4 flex w-full flex-col items-start">
	<div class="block overflow-hidden rounded-lg">
		{
			post.data.imagen && (
				<a href={`/noticias/${post.slug}/`}>
					<figure class="h-auto w-auto object-cover md:h-[500px]">
						<Image
							class="transition duration-300 ease-in-out hover:scale-110"
							src={post.data.imagen}
							alt={post.data.title}
							width={960}
							height={480}
							decoding="async"
							loading="lazy"
						/>
					</figure>
				</a>
			)
		}
	</div>
	<div class="relative mt-4">
		<h2 class="text-3xl font-semibold leading-9 text-zinc-900 hover:text-accent dark:text-white">
			<a href={`/noticias/${post.slug}/`}>
				<span class="absolute inset-0"></span>
				{post.data.title}
			</a>
		</h2>
	</div>
	<div class="text-xs mt-2 flex flex-wrap items-center justify-between gap-x-4 text-zinc-800 dark:text-zinc-200 w-full">
		<div class="flex flex-wrap items-center font-medium">
			<FormattedDate date={post.data.date} format={formatDate} />
		</div>
		<div class="flex flex-wrap items-center font-medium">
			{
				post.data.categorias.slice(0, 1).map((item: any) => (
					<a
						href={`/categorias/${slugify(item)}`}
						class="text-md relative rounded-full bg-zinc-50 px-3 py-1.5 font-medium capitalize text-zinc-600 hover:bg-zinc-50 hover:text-zinc-900 dark:bg-zinc-900 dark:text-zinc-400"
					>
						{item}
					</a>
				))
			}
		</div>
	</div>
</article>
