---
import { Image } from "astro:assets"
import FormattedDate from "@/components/FormattedDate.astro"
import FormattedTime from "@/components/FormattedTime.astro"

const { partido } = Astro.props
const partidoText = (partido.local ? "Unionistas de Salamanca" : partido.rival).concat(" vs ").concat(partido.local ? partido.rival : "Unionistas de Salamanca")
const formatDate = {
	weekday: "long",
	month: "long",
	day: "numeric",
}
const formatDayWeek = {
	weekday: "long",
}
const formatHour = {
	hour: "numeric",
	minute: "numeric",
}
---

<article>
	<div class="my- block overflow-hidden rounded-lg">
		{
			partido.imagen && (
				<figure class="h-auto w-auto object-cover md:h-[480px]">
					<Image class="transition duration-300 ease-in-out" src={partido.imagen} alt={partidoText} width={960} height={480} decoding="async" loading="lazy" />
				</figure>
			)
		}
	</div>
	<div class="md:col-10 my-4">
		<a href={`/partidos/${partido.slug}/`}><h1 class="text-2xl font-bold md:text-4xl">{partidoText}</h1></a>
	</div>
	<div class="prose-md prose prose-invert mt-4 min-w-full md:prose-lg">
		<p>
			El próximo <FormattedDate date={partido.date} format={formatDate} /> desde las <FormattedTime date={partido.date} format={formatHour} /> horas,
			en el estadio {partido.estadio}. Partido correspondiente a la jornada {partido.jornada} del grupo I de Primera Federación.
		</p>
		<p>Como siempre, en directo, en <a href="https://www.twitch.tv/alineacionindebida">nuestro canal de Twitch</a></p>
	</div>

</article>
