---
interface Props {
	title: string
	description: string
	jost: string
}

const { title, description, jost } = Astro.props
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

<link rel="preload" href={jost} as="font" type="font/woff2" crossorigin />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="canonical" href="https://alineacion-indebida.vercel.app" />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#d5ff00" />

<meta name="keywords" content="fútbol, unionistas, salamanca, primera federación, directo, programa, entrevista"
/>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@a_indebida12" />
<meta name="twitter:creator" content="@a_indebida12" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content="https://alineacion-indebida.vercel.app/og.png" />

<meta name="og:image" content="https://alineacion-indebida.vercel.app/og.png" />
<meta name="og:title" content={title} />
<meta name="og:description" content={description} />
<meta name="og:url" content="https://alineacion-indebida.vercel.app" />
<meta name="og:site_name" content="Alineación Indebida" />
<meta name="og:type" content="website" />
<meta name="og:locale" content="es_ES" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
